<!DOCTYPE html>
<html>
    <body>
        <p>List of food</p>
        <ul>
            <% foodItems.map(item => { %>
                <li><%= item %></li>
            <% }) %>
        </ul>
    </body>
</html>